backend/Include
backend/Lib
backend/Scripts
backend/pyvenv.cfg
backend/WMS/db.sqlite3
backend/WMS/WMS_MAIN/migrations
backend/WMS/WMS/__pycache__
backend/WMS/WMS_MAIN/__pycache__
backend/WMS/WMS_MAIN/static/menu_images
backend/WMS/WMS/.env
.env
backend/WMS/WMS_MAIN/static/menu_images/*
